/* Базовые стили */
html{
  font-size:var(--font-size-root);
  height:100%;
}

body{
  min-height:100%;
  background:var(--color-bg);
  color:var(--color-text);
  line-height:var(--line-height-root);
  font-family:var(--font-ui);
  font-size:var(--font-size-root);
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:geometricPrecision;
  font-synthesis:none;
}

